<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rize</title>
  @inertiaHead()
  @viteReactRefresh()
  @vite(['inertia/app/app.tsx', 'inertia/app/app.css'])
</head>
<body>
  @inertia()
</body>
</html>
