TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
APP_NAME=rize
NODE_ENV=development
SESSION_DRIVER=cookie

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=rize_dev

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o
